@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
@tailwind base;
@tailwind utilities;
@tailwind components;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
