@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
@tailwind base;
@tailwind utilities;
@tailwind components;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header {
  background-image: inherit;
}

.home {
  background-image: url("/src/assets/home/background-home-mobile.jpg");
  background-size: cover;
  background: center;
  min-height: 100vh;
}
.destination {
  background-image: url("/src/assets/destination/background-destination-mobile.jpg");
  background-size: cover;
  background: center;
  min-height: 100vh;
}
.crew {
  background-image: url("/src/assets/crew/background-crew-mobile.jpg");
  background-size: cover;
  background: center;
  min-height: 100vh;
}
.technology {
  background-image: url("/src/assets/technology/background-technology-mobile.jpg");
  background-size: cover;
  background: center;
  min-height: 100vh;
}

/*  */
@media (min-width: 768px) {
  .home {
    background-image: url("/src/assets/home/background-home-desktop.jpg");
  }
  .destination {
    background-image: url("/src/assets/destination/background-destination-desbackground-home-desktop.jpg");
  }
  .crew {
    background-image: url("/src/assets/crew/background-crew-desbackground-home-desktop.jpg");
  }
  .technology {
    background-image: url("/src/assets/technology/background-technology-desbackground-home-desktop.jpg");
  }
}

/*  */
@media (min-width: 600px) {
  .home {
    background-image: url("/src/assets/home/background-home-tablet.jpg");
  }
  .destination {
    background-image: url("/src/assets/destination/background-destination-desbackground-home-tablet.jpg");
  }
  .crew {
    background-image: url("/src/assets/crew/background-crew-desbackground-home-tablet.jpg");
  }
  .technology {
    background-image: url("/src/assets/technology/background-technology-desbackground-home-tablet.jpg");
  }
}
